#outdiv{
	display: flex
}

#main_content{
	flex: 3; 
	flex-direction:column

}

#top_block{
	display: flex; 
	text-align: right
}

#bot_block{
	flex-direction:column
}

div.flex_1{
	flex: 1
}

fieldset.full{
	height: 100%
}

#bot_fieldset{
	margin-top: 25px
}

#aside_content{
	display: flex; 
	flex: 1;
}

#job{
	text-align: right; 
	margin-right: 60px
}

#add_company_div{
	display: flex;  
	align-items:center; 
	justify-content: space-between;
}

#name_input{
	width: 309px
}

#civil_status_select{
	width: 309px
}

#countries{
	width: 309px
}

.register_inputs{
	width: 309px
}

#nationality_select{
	width: 295px
}

#professional_objective_input{
	width: 355px
}

#pais{
	width: 355px
}

#cidade{
	width: 160px
}

#estado{
	width: 135px
}

#title{
	padding-left: 20px
}

#wageInput{
	width: 250px
}

#wageDiv{
	  display: flex;
	  flex-direction: row
  
}

#waveDiv0{
	flex: 1
}

#waveDiv1{
	flex: 1
}

#waveDiv2{
	flex: 1
}

#education{
	width: 342px	
}

.simple-form input:valid {
  border-left-color: palegreen;
}

.simple-form select:valid {
  border-left-color: palegreen;
}

.simple-form select:focus:invalid {
  border-left-color: red;
}

simple-form {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
}
.simple-form input {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

.simple-form select {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

.simple-form input:invalid {
  border-left-color: black;
}

input:required {
    box-shadow:none;
}
input:focus:invalid {
    box-shadow:0 0 0px red;
    border-left-color: red;
}

select:required:invalid{
	box-shadow: none
}

input[type=radio]{
	box-shadow: none	
}

input[type=submit]{
	border: none;
	box-shadow: none
}

body{
	background-color: #eeffe6
}

.green-border{
	border-style:solid;
	border-color:#287EC7;
}

.flex{
	display: flex;	
}

.flex1{
	flex: 1
}

.h1-title{
	box-sizing: border-box;
    width: 80%;
    border: 1px solid #B1F39D;
    border-radius: 25px;
    float: left;
    padding: 5px
}

.bot-border{
	border-bottom: 2px solid #B1F39D;
	margin-left: 100px
}

#objectives{
	margin-left: 200px
}

#academic-formation{
	margin-left: 0px;
	margin-right: 400px;
}

#profissional-abstract{
	margin-left: 0px;
	margin-right: 400px;
}

.left-border{
	border-left: 2px solid #B1F39D;
	margin-left: 10px;
	margin-right: -10px;
	height: 250px;
	margin-top: 90px;
}


