<!DOCTYPE html>
<html lang = "pt-br">
	<head>
		<meta charset = "UTF-8">
		<title> Cadastro de currículos </title>
		<link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript"  src="companyRegister.js"> </script>
		<script type="text/javascript" src="loadCountries.js"></script>
		<script type="text/javascript" src="submit.js"></script>
		<script src="dynamics.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">

		<link rel="stylesheet" type="text/css" href = "style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<body>
	<script type="text/x-template" id="header-view-template">
		<div class="draggable-header-view"
		    @mousedown="startDrag" @touchstart="startDrag"
		    @mousemove="onDrag" @touchmove="onDrag"
		    @mouseup="stopDrag" @touchend="stopDrag" @mouseleave="stopDrag">

	 		<div class="content" :style="contentPosition">
		      <slot name="content"></slot>
		    </div>
  		</div>
		</script>
		<div id="animatedTitle" @touchmove.prevent>

<draggable-header-view v-bind:style="{ height: computedHeight }">
	 <template slot="header">
      <div class="flex">
				<div class="flex1">
					<h1 class="green-border h1-title" >Cadastro de Currículos</h1>
				</div>
				<div class="flex1"></div>
			</div>

    </template>
	<template slot="content">
					<div class="flex_1" id="bot_block"> 
						<fieldset class="full" id="bot_fieldset">
							<h1 class="bot-border" id="academic-formation"> Formação acadêmica </h1>
							<!--<select name="education"  id="education" required>-->
							<select id="supplier_id" class='form-control' v-model='supplier_id' v-select='supplier_id' name="education"  id="education" style="width: 300px">
			    				 <option disabled value=""></option>
							<option value="1">Ensino Fundamental Incompleto</option>
			    				<option value="2">Ensino Fundamental</option>
						    	<option value="3">Ensino Medio Incompleto</option>	
						    	<option value="4">Ensino Medio</option>
						    	<option value="5">Ensino Superior Incompleto</option>
						    	<option value="6">Ensino Superior</option>
							 </select>
							<!--</select>-->
							<h1 class="bot-border" id="professional-abstract"> Resumo profissional </h1>
							<h2> (Resumo de suas qualificações, habilidades e realizações profissionais) </h2>
							<textarea name="professionalAbstract" cols="93" rows="5"></textarea>
							<h1 class="bot-border" id="professional-abstract"> Histórico profissional </h1>
							<div id="add_company_div" >
								<!--<input type="button" name="addCompany" value="Adicionar emprego"  id="addCompBut" class="btn btn-success green" onclick="addNewCompany()" /> -->
								<div class="flex1">
								<p>Primeiro emprego<input type="checkbox" name="noJobs" onclick="firstJob()" id="fjob" required="true" class="fjob" /> </p>
								<div id="addC">
									
									<input type="button" name="addCompany" value="Adicionar emprego"  id="addCompBut" class="btn btn-success green"  v-on:click="add"/> 
									
									<ol style="list-style-type: none;">
									<li v-for="i in number" >
										<Company :i="i" ></Company>
									</li>
									</ol>
								</div>
								</div>
							</div>
							<br/>
							<div id="job" ></div>
								<input type="submit" name="send" value="Enviar" class="btn btn-success green" onclick="formToJson()" />
								
						</fieldset>
					</div>
			

				</template>
			</draggable-header-view>

		</div>
</body>


							
						
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
					<script type="module" src="add.js"></script>
</html>
